
.main-container {
  height: auto;
  width: 100%;
}

@media screen and (min-width: 1000px){
  .main-container {
    height: 100vh;
  }
  .preview-container {
    position: absolute;
    overflow: scroll;
  }
  .editor-container {
    height: 100%;
  }
}